.app-content {
	display: flex;
	justify-content: center;
	flex-flow: column;
}

.movies-browser {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	flex: 1 1 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 1em;
}

.movie-tile {
	padding: 0 1rem;
}

.like-btn {
	display: flex;
	position: relative;
	top: 1rem;
}

li {
	list-style-type: none;
	display: inline-block;
	padding: 0 1rem;
}

label.like-label > input[type="checkbox"] {
	cursor: pointer;
	appearance: none;
	width: max-content;
	height: max-content;
	padding: 0.25rem;
	top: 2.5rem;
	position: relative;
}

label > input[type="checkbox"]::before {
	content: "\1F90D";
	font-size: 1.25rem;
	display: inline;
	border: transparent;
	transition: 0.3s ease-in-out;
}

label > input[type="checkbox"]:checked::before {
	content: "\1F497";
	font-size: 1.25rem;
	transition: 0.3s ease-in-out;
}
