:root {
	display: flex;
	flex-flow: column;
	height: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.app-content {
	display: flex;
	flex: 1;
	flex-flow: row;
}

.movies-browser {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	flex: 1 1 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 1em;
}
